@font-face {
    font-family: 'GudeaBold';
    src: url('gudea-bold.eot');
    src: url('gudea-bold.eot') format('embedded-opentype'),
         url('gudea-bold.woff') format('woff'),
         url('gudea-bold.ttf') format('truetype'),
         url('gudea-bold.svg#GudeaBold') format('svg');
}
